{% extends "blog/post_list.html" %}
{% block content %}
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                LOGO
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="#">Resgister</a>
                    </li>
                    <li>
                        <a href="#">LogIn</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content">
        <div class="titleregister">
            <h1>ONGI ETORRI</h1>
        </div>

        <div class="form">
            <div class="tab-content">
                <div id="signup">
                    <form action="/" method="post">

                        <div class="top-row">
                            <div class="field-wrap">
                                <h3>Izena:</h3>
                                <input type="text" required autocomplete="off" />
                            </div>
                        </div>

                        <div class="field-wrap">
                            <h3>Pazahitza:</h3>
                            <input type="password"required autocomplete="off"/>
                        </div>

                        <button type="submit" class="button button-block"/>ZARTU !</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

