<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
    <head>
        <title>Camperp -Main Page -Blog</title>
        <meta charset="utf-8">
        <link  rel="stylesheet"  href="{%  static 'css/blog.css' %}">
        <link  rel="stylesheet"  href="{%  static 'css/css.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/lib<s/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="../../static/css/blog.css">
        <script src="{%static 'JS/blog.js' %}"></script>

    </head>

    <body style="height: 100%">

        <div class="frasecabecera">
            <h1>
                pray 4 harambe
            </h1>
        </div>

        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    <a href="http://127.0.0.1:8000/"><img src="https://img.icons8.com/ultraviolet/70/000000/gorilla.png"></a>
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="register.html">Resgister</a>
                        </li>
                        <li>
                            <a href="login.html">LogIn</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="formenu">
            <h1 class="menuletra">MENU</h1>
            <h4>
                <ol>
                  <li>Order By Likes</li>
                  <li>Order By Date</li>
                  <li>Private</li>
                  <li>Not Private</li>
                </ol>
            </h4>
        </div>

        <div class="formural">
            <h1 class="menuletra">MURAL FAMA</h1>
            <h4>
                <!--CODIGO A REPETIR EN BUCLE-->
                <ol>
                    <li class="linea1">NOMBRE: {( name )}</li>
                    <li class="linea2">POSTS: {( posts )}</li>
                    <li class="linea3"><i><small>ULTIMA CONEXION: {( date )}</small></i></li>
                </ol>
                <br>
                <!--CODIGO A REPETIR EN BUCLE-->

                <ol>
                    <li class="linea1">NOMBRE: {( name )}</li>
                    <li class="linea2">POSTS: {( posts )}</li>
                    <li class="linea3"><i><small>ULTIMA CONEXION: {( date )}</small></i></li>
                </ol>
                <br>

                <ol>
                    <li class="linea1">NOMBRE: {( name )}</li>
                    <li class="linea2">POSTS: {( posts )}</li>
                    <li class="linea3"><i><small>ULTIMA CONEXION: {( date )}</small></i></li>
                </ol>
                <br>

            </h4>
        </div>


    {% block content %}
    {% endblock content %}
    </body>
</html>

