{% extends "blog/post_list.html" %}
{% block content %}

<div class="content">

    {% for post in posts %}

        <div class="forpost">
            <a href="">
            <div class="reforpost">
                <h1 class="titulopost"><a href="{%  url  'blog_post_detail'  pk=post.pk %}">{{ post.title }}</a></h1>
                <br>
                <p>{{ post.text }}</p>
                <br>
                <p>Published By: {{ post.author }}</p>
                <p>Published: {{ post.publised_date }}</p>
            </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="bajopost2">
                <img src="https://img.icons8.com/material-outlined/30/000000/filled-like.png">
            </div>
            </a>

            <a href="">
                <div class="bajopost3">
                    <img src="https://img.icons8.com/material-outlined/30/000000/dislike.png">
                </div>
            </a>

            <a href="">
                <div class="bajopost1">
                    <img src="https://img.icons8.com/carbon-copy/35/000000/pencil.png">
                </div>
            </a>
        </div>

        <br>
    {% endfor %}

 </div>

{% endblock content %}