{% extends "blog/post_list.html" %}
{% block content %}
    <div class="content">

        <h1>{{posts.title}}</h1>
        <h3>{{posts.text}}</h3>
        <br>

        <!--Esto Es el for para mostrar los comentarios de la base de datos de la tabla comments (y no esta terminado por que no filtra)-->
        {% for comm in comment %}
            <div class="forpost">
                <div class="reforpost">
                    <p>{{ comm.text }}</p>
                    <br>
                    <p>Published By: {{ comm.author }}</p>
                    <p>Published: {{ comm.publised_date }}</p>
                </div>
            </div>
            <br>
        {% endfor %}

    </div>
{% endblock content %}