<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="es">
    <head>
        <title>Camperp -Main Page -Blog</title>
        <meta charset="utf-8">
        <link  rel="stylesheet"  href="{%  static 'css/blog.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/lib<s/jquery/3.4.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="../../static/css/blog.css">
        <script src="{%static 'JS/blog.js' %}"></script>

    </head>

    <body style="height: 100%">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    LOGO
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">Resgister</a>
                        </li>
                        <li>
                            <a href="#">LogIn</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="content">
            <div class="titleregister">
                <h1>ONGI ETORRI</h1>
            </div>

            <div class="form">
                <div class="tab-content">
                    <div id="signup">
                        <form action="/" method="post">

                            <div class="top-row">
                                <div class="field-wrap">
                                    <h3>Izena:</h3>
                                    <input type="text" required autocomplete="off" />
                                </div>

                                <div class="field-wrap">
                                    <h3>Abizena:</h3>
                                    <input type="text"required autocomplete="off"/>
                                </div>
                            </div>

                            <div class="field-wrap">
                                <h3>E-Mail-a:</h3>
                                <input type="email"required autocomplete="off"/>
                            </div>

                            <div class="field-wrap">
                                <h3>Pazahitza:</h3>
                                <input type="password"required autocomplete="off"/>
                            </div>

                            <button type="submit" class="button button-block"/>ERREGISTRATU !</button>

                        </form>

                        </div>

                            <div id="login">
                            <h1>Welcome Back!</h1>

                            <form action="/" method="post">

                            <div class="field-wrap">
                            <label>
                            Email Address<span class="req">*</span>
                            </label>
                            <input type="email"required autocomplete="off"/>
                            </div>

                            <div class="field-wrap">
                            <label>
                            Password<span class="req">*</span>
                            </label>
                            <input type="password"required autocomplete="off"/>
                            </div>

                            <p class="forgot"><a href="#">Forgot Password?</a></p>

                            <button class="button button-block"/>Log In</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

