    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: gray ;
    }

    body {
        font-family: "Helvetica Neue",sans-serif;
        font-weight: lighter;
    }

    header {
        /*width: 100%;*/
        /*height: 12vh;*/
    }

    .content {
        position: relative; /*Para que se mueva contigo cuando haces scroll*/
        /*position: fixed; Para que se quede en el sitio hasta cuando haces scroll*/
        width: 50%;
        left: 25%;
        padding: 2%;
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
        background-color: #979797;
        border-radius: 25px;
    }

    .logo {
        line-height: 60px;
        position: fixed;
        float: left;
        margin: 16px 46px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .forpost{
        left: 2%;
        width: 50%;
        background-color: white;
        z-index: 2;
        border-radius: 15px;
        margin: 1.5em;
        margin-left: 10%;
        background-color: #f0f0f0;
        margin-bottom: -2%;
    }
    .reforpost{
        margin: 0.90em;
        padding: 2%;
    }
    .h4{
        font-size: 12px;
    }

    /* REGISTER FORM */

    .titleregister{
        text-align: center;
        font-family: "Helvetica Neue",sans-serif;
    }

    body {
      background:$body-bg;
      font-family: 'Titillium Web', sans-serif;
    }

    .form {
      background:rgba($form-bg,.9);
      padding: 40px;
      max-width:600px;
      margin:40px auto;
      border-radius:$br;
      box-shadow:0 4px 10px 4px rgba($form-bg,.3);
    }

    h1 {
      text-align:center;
      color:$white;
      font-weight:$thin;
      margin:0 0 40px;
    }

    input, textarea {
      font-size:22px;
      display:block;
      width:100%;
      height:100%;
      padding:5px 10px;
      background:none;
      background-image:none;
      border:1px solid $gray-light;
      color:$white;
      border-radius:0;
      transition:border-color .25s ease, box-shadow .25s ease;
      &:focus {
            outline:0;
            border-color:$main;
      }
    }

    textarea {
      border:2px solid $gray-light;
      resize: vertical;
    }

    .field-wrap {
      position:relative;
      margin-bottom:40px;
    }

    .button {
      border:0;
      outline:none;
      border-radius:0;
      padding:15px 0;
      font-size:2rem;
      font-weight:$bold;
      text-transform:uppercase;
      letter-spacing:.1em;
      background:$main;
      color:$white;
      transition:all.5s ease;
      -webkit-appearance: none;
      &:hover, &:focus {
        background:$main-dark;
      }
    }

    .button-block {
      display:block;
      width:100%;
    }

    .forgot {
      margin-top:-20px;
      text-align:right;
    }

    /*Acaba el css de los formularios*/

    .bajopost1{
        width: 3.7%;
        background-color: white;
        z-index: 2;
        border-radius: 15px;
        margin: 1.5em;
        margin-left: 10%;
        background-color: #f0f0f0;
        display: inline-block;
    }
    .bajopost2{
        width: 3.7%;
        background-color: white;
        z-index: 2;
        border-radius: 15px;
        margin: 1.5em;
        margin-left: 10%;
        background-color: #f0f0f0;
        display: inline-block;
        margin-right: -9%;
    }
    .bajopost3{
        width: 3.7%;
        background-color: white;
        z-index: 2;
        border-radius: 15px;
        margin: 1.5em;
        margin-left: 10%;
        background-color: #f0f0f0;
        display: inline-block;
        margin-right: -9%;
    }
    .menuletra{
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .titulopost{
        color: black;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 3px;
        font-family: "algerian";
    }
    .frasecabecera{
        z-index: 5;
        position: fixed;
        margin-left: 38%;
        color: #f0f0f0;
        font-family: "Marlett";
        margin-top: 1.4%;
    }

    .formenu{
        position: fixed;
        width: 15%;
        z-index: 2;
        border-radius: 10px;
        margin-left: 2%;
        background-color: #f0f0f0;
    }
